.example-card {
  max-width: 80px;
  margin: 25px;
  margin-right: 42px;
  margin-left: 42px;
  color: black;
}

.header {
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-right: auto !important;
  margin-left: auto !important;
}

button {
  margin: 5px;
}
