.order-list {
  color: white;
  background-color: #252525;

  flex: 4 2 auto;
}

.history {
  border: dashed #a1a1a1;
  margin: 10px;

  flex: 2 2 auto;
}

.content {
  flex: 3 2 300px;
  display: flex;
}

.content main {
  flex: 3 1 auto;
  margin-right: 10px;
  margin-left: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-card {
  flex: 2 2 25%;
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;

  position: fixed;
  left: 0; bottom: 0;

  padding: 10px;

  background: rgba(255, 255, 255, 0);
  color: black;
  width: 100%;
}

.footer button{
  margin-right: 20px;
  width: 40%;
  color: white;
  background-color: darkcyan;
}
