.order-list {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  min-width: 164px;

  color: white;
  background-color: #252525;

  overflow: scroll;
  overflow-x: hidden;
}

.history {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  border: dashed #a1a1a1;
  margin: 10px;

  min-width: 140px;

  overflow: scroll;
  overflow-x: hidden;
}

.foods-card {

  margin-right: 170px;
  margin-left: 174px;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

app-card {
  flex: 1 1 25%;
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;

  position: fixed;
  right: 0; bottom: 0;

  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.footer button{
  width: 40%;
  color: white;
  background-color: darkcyan;
}

.title {
  text-align: center;
  margin: 10px;
}

.title mat-icon{
  margin-right: 10px
}

.noOrder {
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .history {
    display: none;
  }

  .foods-card {
    margin-left: auto;
    margin-right: auto;
  }

  .order-list {
    display: none;
  }

  .footer button{
    width: 60%;
  }
}

aside::-webkit-scrollbar {
  width: 0 !important
}
