<div class="wrapper">
  <div class="content">
    <aside class="order-list">
      <p style="text-align: center; margin: 10px"><mat-icon style="margin-right: 10px">fastfood</mat-icon>Готовы</p>
      <app-prepared-card style="color: black"></app-prepared-card>
      <app-prepared-card style="color: black"></app-prepared-card>
    </aside>
    <main>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </main>
    <aside class="history">
      <p style="text-align: center; margin: 10px">Архив</p>
      <app-archive-card style="color: black"></app-archive-card>
      <app-archive-card style="color: black"></app-archive-card>
    </aside>
  </div>
  <footer class="footer">
    <button mat-raised-button routerLink="/food">Создать новый заказ</button>
  </footer>
</div>
