.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex: 1 1 300px;
}

.order-list {
  color: white;
  background-color: #252525;

  flex: 0 2 auto;
}

.history {
  border: dashed #a1a1a1;
  margin: 10px;

  flex: 0 2 auto;
}

.foods-card {
  flex: 3 1 auto;
  margin-right: 10px;
  margin-left: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

app-card {
  flex: 2 2 25%;
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  justify-content: center;

  position: fixed;
  right: 0; bottom: 0;

  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.footer button{
  width: 40%;
  color: white;
  background-color: darkcyan;
}

.title {
  text-align: center;
  margin: 10px;
}

.title mat-icon{
  margin-right: 10px
}

@media (max-width: 768px) {
  .history {
    display: none;
  }

  .order-list {
    display: none;
  }

  .footer button{
    width: 60%;
  }
}
