.example-card {
  display: flex;

  min-width: 33%;
  margin: 25px;
  flex-direction: column
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto
}

.ready {
  width: 100%;
}

.order {
  border: 1px dashed #a1a1a1;
  padding: 5px;
  FONT-WEIGHT: 350;

  flex: 1 1 auto
}
