.example-card {
  display: flex;

  max-width: 320px;
  min-width: 33%;
  max-height: 400px;
  margin: 25px;
}

.ready {
  width: 100%;
}

.order {
  border: 1px dashed #a1a1a1;
  padding: 5px;
  FONT-WEIGHT: 350;
}
