.add-button {
  margin-top: 10px;
  margin-right: 10px;

  color: white !important;
  background-color: darkcyan !important;
  width: 100%;
}

.img {
  padding-left: 12px;
}

.description {
  padding-bottom: 5px;
  padding-top: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
