.add-button {
  margin-top: 10px;
  margin-right: 10px;

  color: white !important;
  background-color: darkcyan !important;
  width: 100%
}

table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
