.add-header {
  color: white;
  background-color: #252525;
}

.add-food {
  width: 45%;

  margin: 40px;
  margin-right: auto;
  margin-left: auto;

  border: dashed #a1a1a1;

  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;

  position: fixed;
  right: 0; bottom: 0;

  padding-bottom: 10px;

  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.footer button{
  width: 40%;
  color: white;
  background-color: crimson;
}

.add-button {
  margin-top: 10px;
  margin-right: 10px;

  color: white !important;
  background-color: darkcyan !important;
  width: 100%
}
